.todo-content {
  display: flex;
  align-items: center;
  padding: 0.5rem !important;
  border: 1px solid #d5d3da;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.05);
}

.todo-text {
  font-size: 1rem;
}

.todo-inactive {
  text-decoration: line-through;
  color: gray !important;
}
